<div class="top-border"></div>

<div id="main" class="home">
	<div class="row row-top">
		<div class="container">
			<h2>Discovering Cae Amos</h2>
			<p><%= link_to "Back to Archives", archives_path %></p>
			<p>1967 was probably the most memorable year in the club’s history for, at Easter, we had a meet in Cwm Pennant which was to have effects greater than any of us could have believed.</p>

			<p>Ron Yuen, relatively new to the club, was a forceful character and was soon on the committee.  He was one of the leading protagonists of the first Alpine meet and was the one who made the revolutionary suggestion that we hold a meet in a valley we hadn’t been to before!  Once we had taken this novelty on board, an examination of a Snowdonia map revealed a possible location - Cwm Pennant.  
			Despite our misgivings about not knowing of a campsite, our ignorance of the surrounding mountains and the proximity of a major cliff which we might have to explore, Ron had his way (we were supposed to be adventurous, weren’t we!) and we duly set off in the minibus for this rather scary experience.</p>

			<h3>Finding the Property</h3>
			<p>Arriving at the usual time of one o’clock in the morning (no M62 in those days) we drove along the valley looking desperately for somewhere to pitch our tents and found a very likely-looking flat, grassy area.  Next morning, having established where we were, we set off on a typical Ron Yuen outing.  Up into the mist on unknown hills, eventually finding ourselves on Carnedd Goch, as far as we knew, then by some hair-raising, pathless descent back to the tents.  A Mr William Pritchard, whose land we had unwittingly turned into a campsite, was very friendly (as befitted a farmer whose wife did a nice line in farmhouse teas) and we got chatting to him about huts.  On the walk that morning we had seen a couple of utterly derelict buildings, but they set us thinking.  We had been toying with the idea of a club hut, on and off, for quite a while and it seemed to us that here, off the beaten track, there was more chance of an undiscovered property than in other, more frequented areas.</p>

			<p>Mr Pritchard knew of a farmer down the valley who had a couple of properties up on the hill.  He ‘phoned up to ask about them.  I remember it being a 3-digit ‘phone number!  The result was that a delegation of me, Ron Yuen and Colin Shaw (later to die in a Scottish avalanche) went down to see Mr Naish and to look at the properties.  The first one was Llyn y Bettys, quite close to Cae Amos and more like an urban detached house.  It was in good condition and we could have used it straight away without having to do much work on it but, unfortunately, some other people were interested in it.</p>

			
			<p>Cae Amos, although needing some work doing, had a lot more character and far more potential for development.  We expressed strong interest and went back to persuade the rest of the committee that we should take it on as our hut.  This accomplished, we sent a letter prepared by one of our members who worked in a solicitor’s office.  This purported to be a formal, legal agreement (although it probably wouldn’t have held much water in a court of law) and included the condition that we didn’t necessarily undertake to leave the property in any better condition than that in which we had found it.  It also included the agreement to pay a rent of £30 a year for the use of Cae Amos.  As far as I know, this was never paid because, although it was offered, Mr Naish recognised that we were putting a lot more money than that into improving his property.  I seem to recollect that a bottle of good whisky changed hands around Christmas most years.

			<h3>Work to the Property</h3>
			<p>We set about holding jumble sales and the like to raise money for the improvements and these often brought in about £100 - a lot of money in 1967!  This was used to buy sand and cement in seemingly endless quantities for the much-needed pointing, timber for downstairs floors (to cover the original slate flags) and wood to make window frames.  In our original naiveté we decided to make windows to fit the holes rather than buying purpose-made ones.  This resulted in needing panes of glass which were all different from one another: none of them rectangular!  We set off for glass merchants with lots of dimensioned sketches - four measurements per pane - then had lots of fun matching glass to frames.  Much later, we invested in manufactured windows which were not only rectangular but also weathertight.</p>

			<p>The history of Cae Amos should fill a book in its own right and notable events would be the installation of a chemical toilet (and its christening by the then Chairman, Harry Houghton), the installation of piped water from the ditch into the kitchen (and its later extension to the toilet’s header tank - once we converted to a ‘proper’ toilet, the building of the porch, the numerous attempts to find an effective way to heat the living / dining room and the fitting out of the two rooms at the northern end of the hut to act as a self-contained, separate hut for use when the main hut was hired out to Scout groups (a regular occurrence).</p>

			<p>In 2015 Cae Amos was given over to the Mountain Bothies Association after the club decided that work required to keep/make it a viable location to stay in was too cost and time intensive. The Mountain Bothies Association undertook much repair and upgrade work and it is now a working bothy. See the <%= link_to "Cae Amos Bothy", "https://www.mountainbothies.org.uk/bothies/wales/cae-amos/" %> page for details. </p>
			<%= link_to "Club History", history_path, class: "btn btn-lg btn-default user-btn" %>
		</div>
	</div>
</div>