<div id="carousel-container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("lmc-img-1.jpg") %>
    </div>
  </div>
</div>
<div class="row row-top row-btm">
	<div class="container">
		<h2 style="margin-left: 15px">Contact the LMC</h2>
		<div class="col-md-6 col-xs-12">
			<p>If you have questions about the club then you can email our address on the right. This is monitored by the committee and someone will get back to you within a few days.</p>
			<p>You can also find out more and get in touch with members of the club on our Facebook page.</p>
		</div>
		<div class="col-md-6 col-xs-12">
			<h4 style="margin-top: 0">Email</h4>
			<p><%= mail_to "leedsmc@gmail.com", 'leedsmc@gmail.com' %></p>
			<h4>Facebook</h4>
			<p><a href="https://www.facebook.com/groups/349638151786515/">Leeds Mountaineering Club Facebook Group</a></p>
		</div>
	</div>
</div>