<div id="carousel-container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <%= image_tag("banners/handbook.jpg") %>
	    </div>
	  </div>
	</div>
</div>
<div class="row-top">
	<div class="container">
		<div class="home-main-description">
			<h2>Constitution and Handbook</h2>
			<p>The Constitution is a formal document that describes the purpose of the club and governs the way the club operates. The club Handbook stands alongside the Constitution, describing current procedures and rules which have been laid down by the Committee. The Handbook may be changed on occasion by the Committee to reflect current practices within the club, while the Constitution may only be changed following consultation with the entire membership.</p>

			<p>The Committee recommends that all members read the club’s Constitution and Handbook upon joining, and when each new version is issued. In addition, members may wish to reference these documents at any time to refresh their memory or if they are unsure of a certain procedure or rule. As always, if any member is unsure of the meaning of any part of the Handbook or Constitution, or if their query is not covered within these documents, they are encouraged to speak to any member of the Committee for clarification.</p>
			<%= link_to "Download the Constitution & Handbook (pdf)", handbook_download_path, class: "btn btn-lg user-btn"%> 
		</div>
	</div>
</div>