<div class="top-border"></div>
<div id="carousel-container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">

    </div>
  </div>
</div>

<div id="main" class="home">
	<div class="row row-top">
		<div class="container">
			<h2 style="margin-left: 15px">Leeds Mountaineering Club History</h2>
			<div class="col-md-6 col-xs-12 spaced-left">
				<h3>Coming soon...</h3>
				<p>Coming soon...</p>
			</div>
			<div class="col-md-6 col-xs-12 spaced-right">
				<h3>Archives</h3>
				<p>We have some old blog posts and newsletters preserved on the site for posterity, click the links at the <a href="#bottom">bottom of the page</a> to see them.</p>
			</div>
		</div>
	</div>
	<div class="row row-mid">
		<div class="container">
				<div class="col-md-6 col-xs-12 spaced-left">
					<h3>Coming soon...</h3>
					<p>Coming soon...</p>
				</div>
				<div class="col-md-6 col-xs-12 spaced-right">
					<h3>Coming soon...</h3>
					<p>Coming soon...</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-btm">
		<div class="container">
			<div class="col-md-6 col-xs-12 spaced-left">
				<a name="bottom"></a>
				<h3>Blogs</h3>
				<!-- Button trigger modal -->
				<ul>
					<li><a href="" data-toggle="modal" data-target="#blog1">Skiing in Glen Shee, April 2013</a></li>
					<li><a href="" data-toggle="modal" data-target="#blog2">A Crookrise rainy day come good, June 2013</a></li>
					<li><a href="" data-toggle="modal" data-target="#blog3">The Meet That Never Was, January 2013</a></li>
					<li><a href="" data-toggle="modal" data-target="#blog4">Hanging Around In The Peak, October 2012</a></li>
					<li><a href="" data-toggle="modal" data-target="#blog5">A Tale of 2 Winter Belays, February 2012</a></li>
					<li><a href="" data-toggle="modal" data-target="#blog6">Winter Skills in the Cairngorms, January 2012 </a></li>
					<li><a href="" data-toggle="modal" data-target="#blog7">A Crookrise rainy day come good, June 2013</a></li>
					<li><a href="" data-toggle="modal" data-target="#blog8">A Crookrise rainy day come good, June 2013</a></li>
					<li><a href="" data-toggle="modal" data-target="#blog9">A Crookrise rainy day come good, June 2013</a></li>
					<li><a href="" data-toggle="modal" data-target="#blog10">A Crookrise rainy day come good, June 2013</a></li>
					<li><a href="" data-toggle="modal" data-target="#blog11">A Crookrise rainy day come good, June 2013</a></li>
					<li><a href="" data-toggle="modal" data-target="#blog12">A Crookrise rainy day come good, June 2013</a></li>
					<li><a href="" data-toggle="modal" data-target="#blog13">A Crookrise rainy day come good, June 2013</a></li>
					<li><a href="" data-toggle="modal" data-target="#blog14">A Crookrise rainy day come good, June 2013</a></li>
					<li><a href="" data-toggle="modal" data-target="#blog15">A Crookrise rainy day come good, June 2013</a></li>
				</ul>
				<%= render partial: 'modals' %>
			</div>
			<div class="col-md-6 col-xs-12 spaced-right">
				<h3>Newsletters</h3>
				<p>Each of these links will open a pdf of the newsletter.</p>
				<ul>
					<li>NL 1</li>
					<li>NL 2</li>
					<li>etc</li>
				</ul>
			</div>
		</div>
	</div>
</div>
