<h1>Welcome to the Members Section</h1>
<p>If you have completed an application form then you can edit your details by logging in here.</p>
<p>If you're ready to join the club then you can fill out the application form by clicking the link below.</p>
<ul>
	<li>Enter User Name</li>
	<li>Enter Password</li>
	<li>Sign Up - Application Form</li>
</ul>

<p>Find me in app/views/static_pages/home.html.erb</p>
