<div id="carousel-container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("lmc-img-1.jpg") %>
    </div>
  </div>
</div>
<div class="row row-top row-btm">
	<div class="container">
		<h2 style="margin-left: 15px">Links</h2>
		<div class="col-md-6 col-xs-12">
			<h3>Organisations</h3>
			<ul>
				<li>The British Mountaineering Council (BMC)</li>
				<li>Mountain Bothies Association</li>
				<li>Mountaineering Scotland</li>
			</ul>
			<h3>Weather & Conditions</h3>
			<ul>
				<li>Mountain Weather Information Service (MWIS)</li>
				<li>The Met Office</li>
				<li>Scottish Avalanche Information Service (SAIS)</li>
			</ul>
			<h3>Gear Shops</h3>
			<ul>
				<li>Cotswold Outdoor</li>
				<li>Facewest</li>
				<li>Outside</li>
				<li>Backcountry UK</li>
			</ul>
		</div>
		<div class="col-md-6 col-xs-12">
			<h3>Climbing/Bouldering Walls</h3>
			<ul>
				<li>The Leeds Wall</li>
				<li>The Depot</li>
				<li>City Bloc</li>
				<li>The Climbing Lab</li>
				<li>Harrogate Climbing Centre</li>
			</ul>
			<h3>Useful Sites</h3>
			<ul>
				<li>ukclimbing.com</li>
				<li>unknownstones.com</li>
				<li>Regional Access Database (BMC)</li>
				<li>Climbers' Club</li>
				<li>Fell and Rock Climbing Club (FRCC)</li>
			</ul>
			<h3>Public Transport</h3>
			<ul>
				<li>National Rail Enquiries</li>
				<li>Traveline</li>
			</ul>
		</div>
	</div>
</div>