<div id="carousel-container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <%= image_tag("banners/pay.jpg") %>
	    </div>
	  </div>
	</div>
</div>
<div class="row row-top">
	<div class="container">
		<div class="col-md-6 col-xs-12 pay-top spaced-left">
			<h2>Subscription Information</h2>
			<ul>
				<li>The LMC subscription from 2021 will be £25.</li>
				<li>Membership lasts from 1st January to 31st December in the year paid.</li>
				<li>If you are a new member paying after 1st October then your membership will run until 31st December the following year.</li>
				<li>If you are already a full BMC member then you can claim back the portion of your subscription which is paid by the LMC to the BMC. Please speak to the treasurer if you wish to do this.</li>
			</ul>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="paypal-box pay-top">
				<h2>Pay with Paypal</h2>
				<p>If you have a Paypal account you can instantly pay the LMC your membership fees by clicking the button below. There is a small fee for using PayPal which is added to the total payable.</p>
				<div class="paypal">
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="Y3S7X6TBEFZRE">
						<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="row row-mid">
	<div class="container">
		
		<div class="col-md-6 col-xs-12 spaced-left">
			<div class="main-box right">
				<h2>Other Ways to Pay</h2>
				<div>
					<h4>Bank Transfer</h4>
					<p>You can transfer the membership fee directly into the LMC bank account. You'll need to email the club to get our sort code and account number. Please put your name and "subs" as the reference when you make the transfer.</p>
					<h4>Cheque</h4>
					<p>You can post or give a cheque to the treasurer. The treasurers address is in the private section of the bulletin board, or if you don't have access email the club. Please write your name and "subs" on the back of the cheque.</p>
					<%= link_to "Contact Us", contact_path, class: "btn btn-lg btn-default user-btn" %>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-12 spaced-right">
			<div class="side-img">
				<%= image_tag("pages/pay-1.jpg") %>
			</div>
		</div>
	</div>
</div>