<div id="carousel-container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <%= image_tag("lmc-img-1.jpg") %>
	    </div>
	  </div>
	</div>
</div>

<div id="main" class="home">
	<div class="row row-top">
		<div class="container">
			<h2 style="margin-left: 15px">The Committee</h2>
			<div class="col-md-6 col-xs-12">
				<h3>Chair</h3>
				<h4>Sara Hayes</h4>
				<p><div class="committee-img">Image Here.</div>I`m Sara, and currently the first women Chair (or so I believe!), and have a general overview of the club.</p>
				<p>I organise and chair committee meetings, the A.G.M and any other extraordinary meetings. I liaise with the BMC, on things which may have an impact on the LMC and also take a lead on training and safety for our members.</p>
				<p>I`ve been a club member for about 5 years and think it`s one of the most friendly clubs I`ve ever been in!</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Treasurer</h3>
				<h4>John Nightingale</h4>
				<p><div class="committee-img">Image Here.</div>Hi I'm John and I am the Treasurer.  I collect subscriptions, and send most of the money to the British Mountaineering Council to pay for insurance.  I also bank the cheques that you pay for hut trips, and then pay the hut owners.  I try to keep up to date accounts, so that you won't sack me at the next AGM.  I walk a lot, and climb a little and very badly.</p>
			</div>
		</div>
	</div>
	<div class="row row-mid">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Meets Secretary</h3>
				<h4>Karl Harrison</h4>
				<p><div class="committee-img">Image Here.</div>My interests are mountaineering, traditional climbing, sport climbing and banter.</p>
				<p>My official role is to prepare a fun-filled calendar with hut and camping meets throughout the UK and I am also responsible for ensuring meet leaders have all the necessary information and keys etc.</p>
				<p>My unofficial role is to ignore members feedback on hut meets ensure everyone has a terrible time and never wants to go on another meet, thereby reducing the number of members and making my role far easier in the long-term.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Membership Secretary</h3>
				<h4>Luke Jones</h4>
				<p><div class="committee-img">Image Here.</div>As membership secretary I handle enquiries from new members and try to encourage them to get involved with the club. I also maintain the membership database and try to keep track of what's going on.</p>
				<p>I try to go on plenty of club meets and when I'm out and about I like to go mountaineering, climbing, walking and ski touring, as well as the pub.</p>
			</div>
		</div>
	</div>
	<div class="row row-mid2">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Communications</h3>
				<h4>Lindsay McMorran</h4>
				<p><div class="committee-img">Image Here.</div></p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Social Secretary</h3>
				<h4>Mark Beecher</h4>
				<p><div class="committee-img">Image Here.</div></p>
			</div>
		</div>
	</div>
	<div class="row row-mid">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Climbing Coordinator</h3>
				<h4>Will Smith</h4>
				<p><div class="committee-img">Image Here.</div></p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Walking Coordinator</h3>
				<h4>Burgette Matthews</h4>
				<p><div class="committee-img">Image Here.</div>I’m Burgette and I’m walking coordinator and usual walking meet leader. I have years and years of experience going walking in the Dales  and Peak District, starting in my childhood with my grandparents, throwing tantrums at how long the walks were. Now I deal with the tantrums of how long my walks are! Just kidding!  I now love trekking all over the world.</p>
				<p>I have a talent for picking good weather days a year in advance, picking hidden gems and lesser known walking territory and if I remember the map we generally stay well on course. If you are keen to start Mountaineering walking is a great way to get into it.</p>
			</div>
		</div>
	</div>
	<div class="row row-btm">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Ordinary Member</h3>
				<h4>Peter Ainsworth</h4>
				<p><div class="committee-img">Image Here.</div></p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Ordinary Member</h3>
				<h4>Lisa Billington</h4>
				<p><div class="committee-img">Image Here.</div></p>
			</div>
		</div>
	</div>
</div>
