<div id="carousel-container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <%= image_tag("lmc-img-1.jpg") %>
	    </div>
	  </div>
	</div>
</div>

<div id="main" class="home">
	<div class="row row-top">
		<div class="container">
			<h2 style="margin-left: 15px">The Committee</h2>
			<div class="row-elements">
				<div class="col-md-3 col-xs-12">
					<h3>Chair</h3>
					<h4>Sara Hayes</h4>
				</div>
				<div class="col-md-3 col-xs-12">
					<div class="committee-img">Image Here.</div>
				</div>
				<div class="col-md-3 col-xs-12">
					<h3>Treasurer</h3>
					<h4>John Nightingale</h4>
				</div>
				<div class="col-md-3 col-xs-12">
					<div class="committee-img">Image Here.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-mid">
		<div class="container">
			<div class="row-elements">
				<div class="col-md-3 col-xs-12">
					<h3>Meets Secretary</h3>
					<h4>Karl Harrison</h4>
				</div>
				<div class="col-md-3 col-xs-12">
					<div class="committee-img">Image Here.</div>
				</div>
				<div class="col-md-3 col-xs-12">
					<h3>Membership Secretary</h3>
					<h4>Luke Jones</h4>
				</div>
				<div class="col-md-3 col-xs-12">
					<div class="committee-img">Image Here.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-mid2">
		<div class="container">
			<div class="row-elements">
				<div class="col-md-3 col-xs-12">
					<h3>Communications</h3>
					<h4>Lindsay McMorran</h4>
				</div>
				<div class="col-md-3 col-xs-12">
					<div class="committee-img">Image Here.</div>
				</div>
				<div class="col-md-3 col-xs-12">
					<h3>Social Secretary</h3>
					<h4>Mark Beecher</h4>
				</div>
				<div class="col-md-3 col-xs-12">
					<div class="committee-img">Image Here.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-mid">
		<div class="container">
			<div class="row-elements">
				<div class="col-md-3 col-xs-12">
					<h3>Climbing Coordinator</h3>
					<h4>Will Smith</h4>
				</div>
				<div class="col-md-3 col-xs-12">
					<div class="committee-img">Image Here.</div>
				</div>
				<div class="col-md-3 col-xs-12">
					<h3>Walking Coordinator</h3>
					<h4>Bee Matthews</h4>
				</div>
				<div class="col-md-3 col-xs-12">
					<div class="committee-img">Image Here.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-btm">
		<div class="container">
			<div class="row-elements">
				<div class="col-md-3 col-xs-12">
					<h3>Ordinary Member</h3>
					<h4>Peter Ainsworth</h4>
				</div>
				<div class="col-md-3 col-xs-12">
					<div class="committee-img">Image Here.</div>
				</div>
				<div class="col-md-3 col-xs-12">
					<h3>Ordinary Member</h3>
					<h4>Lisa Billington</h4>
				</div>
				<div class="col-md-3 col-xs-12">
					<div class="committee-img">Image Here.</div>
				</div>
			</div>
		</div>
	</div>
</div>
