<% provide(:title, 'Edit Meet') %>
<% provide(:path, committee_meet_path) %>
<% provide(:button_text, 'Update Meet') %>
<h1>Edit Meet</h1>
<p><%= link_to "Back to meets list", committee_meets_path %></p>
<%= render 'form' %>
