<% provide(:title, 'Add New Meet') %>
<% provide(:path, committee_meets_path) %>
<% provide(:button_text, 'Add Meet') %>
<div class="top-border"></div>
<div class="row-top">
	<div class="row">	
		<div class="col-md-8 col col-md-offset-2 no-padding">
		<h1>Add New Meet</h1>
		<p><%= back_link(committee_meets_path) %></p>
		
	</div>
</div>
<%= render 'form' %>