<h1>Hooray! A new member has signed up!</h1>

<p>Their name is <%= @member.full_name %>.</p>

<p>Go to the <%= link_to "Membership Database", committee_members_url %> to see their application.</p>

<p>They have received the automated welcome message. Once you have confirmed their payment don't forget to send them the welcome pack.</p>