<p>Well six of us turned up. Then it rained. We all got cold. </p>
<p>Keith and Mike climbed a damp crease in the rain. I rushed a light lead - Steve soloed it as the rain began. Wayne and Gaz came and joined us from further down the crag. Keith got cold in his shorts.</p>
<p>After a short fashion show, he and Mike went somewhere warmer.</p>
<p>Meanwhile Steve led a green chimney belonging to Slingsby "<em>because it isn't raining in here</em>". Gaz and Wayne had lunch. The rain stopped. Wayne led the now dry crease.</p>
<p>Steve found a pile of left handed lichen to top out into. Steve and I had lunch. Gaz led a flaky wall with a scary top out. Wayne was spellbound by the even scarier route (or was it?) next door. Steve couldn't resist the warm and dry crease.</p>
<p>Everybody looked at some Hovis. Steve and Wayne tried to steal it but were shaken off the starting moves a few times. The midges arrived. We all moved on to the seaside, where I led directly up an octopus and after Gaz had climbed the cats whiskers Wayne was last seen approaching a sole...</p>