<div class="caption" style="float: right;"><%= image_tag("blog/Buttermere/alan-and-kev.jpg") %>
<p style="position: relative; text-align: center;">Alan and Kev on top of Dexter Wall VS</p>
</div>

<p>Saturday saw an early start at seven. After a leisurely breakfast all but one headed for Grey Crag. Norbert, recuperating from a knee operation, planned to retrace his steps from the 2008 OMM over Hindscarf and Robinson.</p>
<p>Kev, never a fan of a walk-in, had somehow been persuaded to make the trip to Grey Crag. Perhaps tempted by glossy guide book photos? Perhaps by some gross miss-selling on the length of the walk-in.</p>
<p>As we approached Birkness Combe a couple of other parties with climber-sized packs appeared on the path from the other end of the lake. No comment was made but the pace definitely quickened. Dave, Alan, PJ and Bruce pulling ahead to get to the crag and bag the preferred routes for their teams.</p>
<p>

</p>
<p style="float:left;margin-left:0; margin-bottom: 10px; width: 210px; margin-right: 20px; font-family: Georgia,Times New Roman,Times,serif; border-width: thin; border-color: #000000; padding: 5px;"><strong>&ldquo;I have no sympathy with the ever-increasing number who look upon the tramp to the foot of the crags as a 'beastly grind'. It will be disastrous to the sport of climbing if its devotees cease to love the mountains as a whole, as the older men did, and wish only for the crags.&rdquo;<br ></strong><em>Lehmann J Oppenheimer,<br ></em>The Heart of Lake land (1908)</p>
<p style="float:left;margin-left:0; margin-bottom: 10px; width: 210px; margin-right: 0pt; font-family: Georgia,Times New Roman,Times,serif; border-width: thin; border-color: #000000; padding: 5px;"><strong>"Two hours! You told me it was only an hour&rsquo;s walk in!"<br ></strong><em>KM Bowser (2010)</em></p>
<p style="clear: left;">Grey Crag, altitude 700m, consists of several buttresses, divided by relatively easy paths and gulleys. According to the guide book, Grey Crag has an approach time of 1hr 25 min. There are lots of good routes grades up to VS and these can be linked in a variety of ways to give a good day's climbing. The table below shows the various climbs that each team did.</p>
<p style="clear: left;"><%= image_tag("blog/Buttermere/climbing-chart.gif") %></p>
<p>Eventually Cath was allowed to have her lunch. A good picnic spot was found at the foot of Oxford and Cambridge Buttress and we were joined by the others as they topped out on the Slabs routes.</p>
<p>"Aw whit? Thes sendwitch es impty! Et's jiss brid!&rdquo; said Alan, dismayed to find that one of his sandwiches was just two slices of bread with no filling. He explained that Katherine had made his packed lunch for him, but apparently hadn't quite finished it.*</p>
<p>Dave P forgot his lunch completely and had to share Rahul's: a large Tupperware box containing a loose mixture of chocolate digestives and chilli sensation flavour crisps. Mmmm? This strange concoction obviously had magical restorative properties as Dave and Rahul were unstoppable and clocked up a total of five multi-pitch routes. They returned in darkness after a thirteen hour day on the hill.</p>
<p style="float:left;margin-left:0; margin-bottom: 10px; width: 300px; margin-right: 120px; border-width: thin; border-color: #000000; padding: 3px;"><strong style="font-family: Georgia, Times New Roman, Times, serif;">&ldquo;Too much of Grey Crags after an army diet is like champagne on indigestion&rdquo;<br ></strong><em>CWF Noyce<strong>,</strong> Buttermere and Boat Howe FRCC Journal (1942)</em></p>
<p style="float:left;margin-left:0; margin-bottom: 10px; width: 300px; font-family: Georgia,Times New Roman,Times,serif; border-width: thin; border-color: #000000; padding: 3px;"><strong>&ldquo;Pass the chocolate digestives and crisps Rahul old chap&rdquo;<br ></strong><em>Lance Corporal DWS Payne (2010)</em></p>
<p style="clear: both;">Saturday night. Various dishes were barbequed whilst we were serenaded by the "Sirens" on Level One of the campsite. Fortunately no-one succumbed. The prize for charcoal eating went to Norbert for his grilled veg.</p>
<div class="caption" style="float:left;margin-left:0; margin: 5px 30px 5px 0px;"><%= image_tag("blog/Buttermere/Rahul-Harrow-Buttress-Grey-Crag.jpg") %>
<p>Rahul on Harrow Buttress, Grey Crag</p>
</div>
<p>Mark's BBQ bucket became a camp fire of sorts and before we knew it we were the only ones on the campsite still up.</p>
<p>&nbsp;</p>
<p><br >We woke early on Sunday to the sound of light rain on nylon. Alan had gone, leaving early on, perhaps to have words with Katherine about the empty sandwich. After a couple of hours the weather deteriorated into the forecast monsoon.</p>
<p>When wet the big tent becomes surprisingly air-tight. Folding it away requires careful venting of the pods and a team effort to squeeze out the air. Sometimes you even have to use Kev as a human rolling pin. Eventually the tent plus several gallons of rain water were deposited into the boot Kev's car and Kev went to change into some dry clothes.</p>
<p>A busy Keswick saw tea and cakes consumed and kit browsed.</p>
<p>*Humble Pie for Supper<br >It later transpired that The Mystery of the Empty Sandwich was actually some extra slices of bread that Katherine had thoughtfully packed for Alan to go with his BBQ sausages on Saturday night.</p>
<p>Attendees: Dave Clark, Kev Bowser, Cath Sanders, Alan Christensen, Tom Storey, Mark PJ Robinson, Bruce Haywood, Rahul, Dave Payne, Norbert De Mello, Steve Morley.</p>
<p><strong>Dave Clark</strong></p>
<p><em>Dave would like to credit the historical quotes to the latest FRCC guidebook for Buttermere and St Bees.</em></p>
