<%= image_tag("blog/Yosemite-2011/yosemite3.jpg") %>
<p>Me and Dave have just got back this aft from a 3-week long trip to Yosemite Valley and Tuolumne Meadows. It was fantastic, we had excellent weather and did some quality climbing. Although the Valley itself was quite busy (peak tourist season), we had the routes pretty much to ourselves Our aim was to do some real classics and then to challenge ourselves with the East Buttress of Middle Cathedral (11 pitches, 5.9) at the end of the trip, which we did successfully!</p>
<p>Climbing highlights include:</p>
<ul>
	<li>Royal Arches (16 pitches) 5.7</li>
	<li>Snake Dike (17 mile round trip, 8 pitches) 5.7 RUNOUT!! Skills to Dave for leading the lot, as I was feeling a bit peaky that day.</li>
	<li>Central Pillar of Frenzy (5 pitches) 5.9</li>
	<li>Excellent Smithers (3 pitches) 5.10</li>
	<li>Nutcracker (5 pitches) 5.8</li>
	<li>East Buttress of Middle Cathedral (11 pitches) 5.9 and a BADASS descent.</li>
</ul>
<p>Other highlights:</p>
<ul>
	<li>Sunset from Glacier Point</li>
	<li>Rafting on the river</li>
	<li>Seeing all 4 major waterfalls (Vernal, Nevada, Bridalveil and Yosemite) - v impressive.</li>
	<li>Bagels, coffee and ice cream in Curry Village</li>
	<li>Mono Lake</li>
	<li>Mammoth brewery free 9-beer tasting (I was driver, obv!)</li>
	<li>Being there - its stunning</li>
</ul>
<p>NON-highlights:</p>
<ul>
	<li>Being more minging and scuzzy than I have been for a Very. Long. Time.</li>
	<li>Mozzies.</li>
	<li>The endless dust!</li>
	<li>Mozzies.</li>
	<li>Being effing freezing in the mornings in Tuolumne (I know, I'm too soft).</li>
	<li>Did I mention the mozzies?</li>
</ul>
