<p>&ldquo;So what is your history with Quietus<sup>1</sup> Mike?&rdquo; asked Bruce.</p>
<p>&ldquo;Well I had a go, but I came off. My foot was on the heel hook so inverted as I fell.&rdquo;</p>
<p>&ldquo;There was a lot of rope stretch, so I landed on the ledge below, hit my head, and got concussed. Luckily I was wearing a helmet.&rdquo;</p>
<p>On the promise of good weather Bruce, Mike, Wayne and I were driving to the Peak, but so far we had no clear plan of where to go (Millstone? &ndash; to shaded, Bamford? &ndash; not enough to do). In that moment it was decided: High Neb.</p>
<p>We arrived, warm from the walk in under the blazing sun, at a beautifully tranquil High Neb Buttress<sup>2</sup>. Mike and Wayne got started on High Neb Buttress Variations, while I followed Bruce up Norse Corner Climb.</p>
<p>Next, I balanced my way up Where did my Tan Go?, while Wayne was around the corner getting pumped out of his tree leading The Dalesman. With full sun and a light breeze, it was some of the best conditions this year; T-shirt weather at the end of October!</p>
<p><img style="margin-right: auto; margin-left: auto; display: block;" title="Wayne on Dalesman" src="assets/images/blog/Hanging in The Peak/wayne_dalesman_small.jpg" alt="Dalesman" width="300" height="400" ></p>
<p>As Bruce and I scrambled down the descent to the right of High Neb, our eyes were drawn upwards. Above us lay a roof; gloomy, horizontal, jutting out a body length from the cliff, and split by the crack line of Jeepers Creepers. Bruce had been contemplating this line for a while. He was ready to give it a try. </p>
<p>He quickly dispatched the lower section. Stood on a ledge, with cams in the roof crack above, he then spent several minutes trying different ways of placing his hands in the crack before finally making an attempt. A tentative reach, a couple of moves, retreat back to the ledge looking confused. He made a couple more attempts - leaving the ledge to hang from the underside of the crack - before deciding that for him, today, it wasn&rsquo;t going to happen.</p>
<p><img style="margin-right: auto; margin-left: auto; display: block;" title="Bruce on Jeepers Creepers" src="assets/images/blog/Hanging in The Peak/bruce_jeeperscreepers_small.jpg" alt="Jeepers Creepers" width="300" height="400" ></p>
<p>I couldn&rsquo;t miss the opportunity to try Jeepers Creepers, especially since Bruce had pre-placed the gear. I climbed to the ledge below the roof and stuck my hands in the crack. It was smoother than I expected (and this with Bruce telling me how smooth it was!). There was nothing for it but to grab a hold just to the left of the crack, feet up, launch outwards, sink a jam&hellip; and retreat back to the ledge looking confused.</p>
<p>I gave it several more attempts &ndash; jug, hand jam, heel hook &ndash; each taking me further than the last, before I peeled off, broken, exhausted, dangling like a puppet. I skulked off to one side and finished the climb via the Severe variation.</p>
<p>But all that is unimportant. Because down below anticipation was building as Mike taped up his hands. </p>
<p>By the time Bruce and I had cleared our gear from Jeepers Creepers, Mike was making his way up to the ledge below the roof section of Quietus. </p>
<p>A crowd gathered as Mike sorted out protection in the roof. Eventually he was ready. He edged out, Gecko-like, across the underside of the roof. The crowd started to cheer as he reached upwards around the end to get his first jam in. It looked like he was going to do it! More importantly, Mike had groupies!<sup>3</sup></p>
<p>In seconds it was all over. Mike retreated back to the ledge. He had a couple more goes but didn&rsquo;t better his first attempt. For Mike, too, it wasn&rsquo;t going to happen today, but at least there was no concussion.</p>
<p><img style="margin-right: auto; margin-left: auto; display: block;" title="Mike on Quietus" src="assets/images/blog/Hanging in The Peak/mike_quietus_small.jpg" alt="Quietus" width="400" height="300" ></p>
<p>After that the day coasted gently to a close. Bruce and I climbed Icy Crack, an indifferent route, before wandering along the crag to watch Wayne climb Quantum Crack. A bank of mist that had been moving along Stanage for a while finally reached us, and Wayne finished the route in cloud.</p>
<p>We walked down to the car in cool, misty, conditions that were a stark contrast to the earlier sunshine. There is every possibility that this will turn out to be the last climbing day of the year, but what a day to end on.</p>
<p>Tom J</p>

<p>Notes<br >1. Quietus is the central line through the huge roof that dominates that crag at High Neb. </p>
<p>2. The day before Bruce and I had been at the Popular End of Stanage, which was swamped with several minibuses worth of climbing clubs. </p>
<p>3. The crowd included a handful of enthusiastic young lady climbers (and their perhaps less enthusiastic male companions).</p> 
