<p><%= image_tag("blog/Paul-Lucas-Alps/paul_alps_P1030444.jpg") %></p>
<p>Just got back from a couple of weeks at Ailefroid in the Ecrins National Park in the French Alps.</p>
<p>&nbsp;</p>
<p>It's a beautiful place with a great campsite and absolutely loads to do for the outdoors enthusiasts.
</p>
<p><%= image_tag("blog/Paul-Lucas-Alps/paul_alps_P1030475.jpg") %></p>
<p>We did some sport climbing there are crags within 5 minutes walk of the campsite from single pitch to 12 pitch monsters. Also trad climbing.
</p>
<p><%= image_tag("blog/Paul-Lucas-Alps/paul_alps_P1030462.jpg") %></p>
<p>Lots of Via Feratta but had to travel a bit more for that.
We did some hikes up to some of the refuges with the plan of doing some big peaks but due to some dodgy weather and our lack of experience we didn't really do any alpinism, next time though.
</p>
