<p>I put lots of the photos from the LMC galleries in to some videos with some music to save you having to click through them all in the galleries. </p>
<p>Mike</p>
<p><strong>2008-2011</strong></p>
<p>

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="640" height="390" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
<param name="allowFullScreen" value="true" >
<param name="allowscriptaccess" value="always" >
<param name="src" value="http://www.youtube.com/v/69j-b8Z9qyU?fs=1&amp;hl=en_US&amp;rel=0" ><embed type="application/x-shockwave-flash" width="640" height="390" src="http://www.youtube.com/v/69j-b8Z9qyU?fs=1&amp;hl=en_US&amp;rel=0" allowfullscreen="true" allowscriptaccess="always"></embed>
</object>
</p>
<p><strong>2007-2009</strong></p>
<p>

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="640" height="390" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
<param name="allowFullScreen" value="true" >
<param name="allowscriptaccess" value="always" >
<param name="src" value="http://www.youtube.com/v/Vt9BLlNSfpc?fs=1&amp;hl=en_US&amp;rel=0" ><embed type="application/x-shockwave-flash" width="640" height="390" src="http://www.youtube.com/v/Vt9BLlNSfpc?fs=1&amp;hl=en_US&amp;rel=0" allowfullscreen="true" allowscriptaccess="always"></embed>
</object>
</p>
<p><strong>2006-2007</strong></p>
<p>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="640" height="390" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
<param name="allowFullScreen" value="true" >
<param name="allowscriptaccess" value="always" >
<param name="src" value="http://www.youtube.com/v/5SyknVGCZu8?fs=1&amp;hl=en_US&amp;rel=0" ><embed type="application/x-shockwave-flash" width="640" height="390" src="http://www.youtube.com/v/5SyknVGCZu8?fs=1&amp;hl=en_US&amp;rel=0" allowfullscreen="true" allowscriptaccess="always"></embed>
</object>
</p>
<p><strong>2004-2006</strong></p>
<p>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="640" height="390" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
<param name="allowFullScreen" value="true" >
<param name="allowscriptaccess" value="always" >
<param name="src" value="http://www.youtube.com/v/7XHE7xOkNDw?fs=1&amp;hl=en_US&amp;rel=0" ><embed type="application/x-shockwave-flash" width="640" height="390" src="http://www.youtube.com/v/7XHE7xOkNDw?fs=1&amp;hl=en_US&amp;rel=0" allowfullscreen="true" allowscriptaccess="always"></embed>
</object>
</p> 