<p>I put lots of the photos from the LMC galleries in to some videos with some music to save you having to click through them all in the galleries. </p>
<p>Mike</p>
<p><strong>2008-2011</strong></p>
<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/69j-b8Z9qyU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>
<p><strong>2007-2009</strong></p>
<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Vt9BLlNSfpc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>
<p><strong>2006-2007</strong></p>
<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/5SyknVGCZu8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>
<p><strong>2004-2006</strong></p>
<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/7XHE7xOkNDw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p> 