@import "bootstrap-sprockets";
@import "bootstrap";

$lmc-green: #59ab47;
$primary-color: #e7e7e7;
$secondary-color: #c1ced8;
$text-color: #333333;

html {
  position: relative;
  min-height: 100%;
  background-color: $primary-color;
}

body {
  margin-bottom: 30px;
  height: 100%;
}

#main {
/*	background: radial-gradient(#333333, #59ab47); */
  background-color: $primary-color;
	padding-top: 20px;

}

/*header*/

.navbar {
	background-color: $lmc-green;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: $text-color;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: $text-color;
	font-size: 18px;
	color: $text-color;
	padding: 0;
	margin: 0;
  z-index: 3;
}

.navbar-default .navbar-nav > li > a {
		color: $text-color;
    border-radius: 10px;
	}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: $secondary-color;
  border-radius: 10px;
}
.navbar-default .navbar-toggle {
  border-color: $text-color;
}
.navbar-toggle {
  border: 2px solid;
}
/*
.navbar-default .navbar-toggle .icon-bar {
  background-color: $lmc-green;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $secondary-color;
}
*/

.navbar-default .navbar-toggle .icon-bar {
  background-color: $text-color;
}
.navbar-collapse {
  padding-left: 0;
}

.dropdown-menu {
  background-color: $primary-color;
  border-radius: 10px;
  box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: $text-color;
  color: $primary-color;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: $primary-color;
}

.navbar-nav > li > .dropdown-menu {
  border-radius: 10px;
  margin-top: 2px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: $secondary-color;
}

#header {
	background-image: url(lmc-background6.jpg);
	background-repeat: no-repeat;
	background-position: center center;
  height: 111px;
  position: absolute;
  min-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

@media screen and (max-width: 340px) {
  #logo {
    word-break: break-all;
  }
}

#logo {
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
  margin-bottom: 0;
  margin-top: 0;
  display : flex;
  align-items : center;
  height: 110px;
  vertical-align: middle;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em; 
	color: $text-color; 
  z-index: 2;}
	img {
			padding-right: 10px;
		}
		a {
		line-height: 1em;
    
    word-wrap: break-word;
	}


/* footer */

footer {
  position: absolute;
  bottom:0;
  width: 100%;
  height: 32px;
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid #333333;
  background-color: #333333;
  color: #eeeeee;
  
  ul {
  	list-style-type: none;
  	background-color: #333333;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 0;
  	vertical-align: center;
  	padding: 0;
  	li {
  		padding-bottom: 5px;
  	}
	}
}

/* homepage */

.main-box {
  background-color: $secondary-color;
  border-radius: 10px;
  padding: 0 20px 20px 20px;
  border-style: solid;
  border-width: thin;
  border-color: #a3a7a9;
  margin-bottom: 20px;
}

.main-box .left {
  margin-right: 5px;
}

.main-box .right {
  margin-left: 5px;
}

.side-box {
  background-color: $secondary-color;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  border-style: solid;
  border-width: thin;
  border-color: #a3a7a9;
  margin-top: 20px;
}

.side-box a {
  font-size: 16px;
}

.bottom {
  margin-bottom: 20px;
}

@media screen and (min-width: 982px) {
.set-h {
  min-height: 381px;
  } }

.home p { font-size: 16px;
        }

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/*tables*/

.table-narrow { tbody { tr { td {
  padding: 2px 8px 2px 8px;
  vertical-align: middle;
  }}}}

.table select { margin:0px; }

#table-btn {
    margin-bottom: 0px;
  }

#mini { tbody { tr { td {
  padding: 2px 8px 2px 0px;
  border-top: 0px;
  }}}}

  /*calendar*/

#calendar a {
  color: inherit;
}

.day-meet td {
  background-color: #efff0099;
  border-top: 1px solid #5f5f5f !important;
}

.camping-meet td {
  background-color: #67d051;
  border-top: 1px solid #5f5f5f !important;
}

.hut-meet td {
  background-color: #007eff9c;
  border-top: 1px solid #5f5f5f !important;
}

.evening-meet td {
  background-color: #9100ff70;
  border-top: 1px solid #5f5f5f !important;
}

#table-calendar {
  border-bottom: 2px solid #5f5f5f !important;
}

#calendar {
  font-size: 16px;
}

#cal-head {
  background-color: $secondary-color;
  border-top: 1px solid $text-color !important;
}

.key {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
  font-size: 16px;
  margin: 2px 2px 4px 2px;
  float: left;
}

.hut {
  background-color: #007eff9c;
}
.camp {
  background-color: #67d051;
}
.day {
  background-color: #efff0099;
}
.eve {
  background-color: #9100ff70;
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    }

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px $primary-color inset;
    }

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.radio-inline, .checkbox-inline {
  background-color: white;
  border-radius: 4px;
  padding-top: 5px;
}

.membersip .form-control {
  width: 50%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#my-checkbox {
    transform: scale(1.5, 1.5);
    width: auto;
    margin: 0px 0px 10px 2px;
  }

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
    outline: none;
}

/*buttons*/

.btn-primary {
  margin-bottom: 10px;
}

.dd-btn {
  padding: 6px 12px !important;
  border: none;
  width: 100%;
  background-color: $primary-color;
}

.dd-btn:hover {
  background-color: $text-color;
  color: $primary-color;
  border: none;
  }

.dd-btn:focus {
  background-color: $text-color;
  border-color: $text-color;
  color: $primary-color;
  outline: none;
}

.dd-btn:hover:focus {
  background-color: $text-color;
  border-color: $text-color;
  color: $primary-color;
  outline: none;
}

.dd-btn:active {
  background-color: $text-color;
  border-color: $text-color;
  color: $primary-color;

}
/*
.dd-btn { button:focus {
    outline: none;
    border-radius: 0;
} }

 ul #dd-btn > li > a:hover {
    background-color: black !important;
  }
*/

/* bootstrap adjustments */



.glyphicon-none:before {
    content: "\e113";
    color: transparent !important;
}

.full-width {
  width: 100%;
}
