@import "bootstrap-sprockets";
@import "bootstrap";

$lmc-green: #59ab47;
$dark-green: #79b66b;
$light-green: #bce2b3;
$dark-background: #e6e6e6;
$light-background: #f2f2f2;
$dark-border: #cccccc;
$text-color: #1a1a1a;
$nav-dark: #333333;
$btn-green: #99e687;
$bright-green: #80e16b;

html {
  position: relative;
  min-height: 100%;
  
}

body {
  height: 100%;
  width: 100%;
  background-color: $light-background;
}

.bkgrnd {
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/*Full Navbar*/

.navbar-elements {
  max-width: 1440px;
  margin: auto;
}

.navbar {
  background: rgba(255, 255, 255, .8);
  border: none;
  border-radius: 0px;
  font-size: 18px;
  color: $text-color;
  margin-bottom: 0;
  z-index: 1;
  padding: 0px 15px 0px 15px;
}

.navbar-nav {
  margin: 0;
}

.navbar-default .navbar-nav > li > a {
  color: $text-color;
  border-radius: 6px;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: $nav-dark;
  color: $light-background;
}

.navbar-default .navbar-nav > li > a:focus {
  background-color: $nav-dark;
  color: $light-background;
}

.dropdown-menu, .navbar-nav > li > .dropdown-menu {
  background-color: $light-background;
  border-radius: 6px;
  box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  margin-top: 2px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: $nav-dark;
  color: $light-background;
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 0;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 938px) {
  .navbar-header {
    display: flex;
    float: none;
  }
  .navbar-nav {
    margin: 0;
  }

  .navbar-right {
    float: none !important;}
}
/*Toggle Navbar*/

.navbar-default .navbar-toggle {
  border: 2px solid $text-color;
  z-index: 1;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $text-color;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  color: $text-color;
  padding: 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus{
  background-color: $nav-dark;
  color: $light-background;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: $text-color;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  background-color: $nav-dark;
  color: $light-background;
}

#logo {
    img {
      padding: 2px 10px 2px 0px;
      max-height: 50px;
      max-width: 100%;
    }
}

@media screen and (max-width: 446px) {
  #logo {
    word-break: break-all;
    max-height: 50px;
    max-width: 100%;
    overflow: hidden;
  }
}

/* footer */

.footer {
  margin-bottom: 30px;
  margin-top: 20px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.footer-left {
  float: left;
  margin-bottom: 10px;
  p {
    font-size: 24px;
    line-height: 1em;
  }
  img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}

.footer-right {
  float: right;
}

/* homepage */

#carousel-container {
  padding: 0;
}

#myCarousel {
  top: -50px;
  
}

.carousel-inner {
  width:100%;
  background-color: white;
}

/*centres not wide enough images*/
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    margin: 0 auto;
}

div#main.home {
  position: relative;
  margin: 0;
}

.row {
  margin: 0;
  font-size: 16px;
  text-align: justify;
  ul {
    
    li {
      text-align: left;
    }
  }
  ol {
    padding-left: 15px;
  }
}

.row-top {
  background-color: #e6e6e6;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 50px;
  border-top: 50px solid $dark-green;
  margin-top: -50px;
}

.row-mid {
  background-color: white;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 50px;
}

.row-mid2 {
  background-color: #e6e6e6;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 50px;
}

.row-btm {
  background-color: #e6e6e6;
  padding-bottom: 50px;

}

@media (min-width: 992px) {
  .row-elements {
    display: flex;
    align-items: center;
  }
}

.home-main-description {
  margin-bottom: 40px;
  font-size: 16px;
}

.side-box {
  background-color: $light-green;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  border-style: solid;
  border-width: 10px;
  border-color: $dark-green;
  margin: 0;
  height: 400px;
  overflow-y: scroll;
}

@media screen and (max-width: 991px) {
  .side-box {
    margin-top: 40px;
  }
}

.side-box a {
  font-size: 16px;
}

.home .side-box p {
  font-size: 14px;
}

.side-img {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .side-img {
    margin-top: 40px;
  }
}

.side-img img {
  max-width:90%;
  max-height:75%;
  
}

.mini-meets-cal {
  background-color: $light-green;
  padding: 10px;
  margin: 20px 0 0 0;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  .table {
    margin-bottom: 0;
  }
  td {
    background-color: white;
    border: 4px solid $light-green;

  }
  #col-two {
    text-align: left;
  }
  h2 {
    color: #4d4d4d;
    font-style: italic;
    margin-top: 0;
  }
}

@media screen and (max-width: 991px) {
  .mini-meets-cal {
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .mini-meets-cal {
    tbody {
      font-size: 12px;
    }
  }
}
/*
.bottom {
  margin-bottom: 20px;
}*/

@media screen and (min-width: 992px) {
.set-h {
  min-height: 381px;
  }
}

.home p { font-size: 16px;
        }

/* other pages */

#title {
  margin-left: 15px;
}

.main-img {
  top: 52px;
}

.login-page {
  width: 80%;
}

.membership .main-box .left .form-control .login-page #session_email form input:focus {
 background-color: white;
}

.top-border {
  border-top: 50px solid $dark-green;
}

.bottom-border {
  box-shadow: inset 0px 2px 4px 0px #828282;
  height: 50px;
  background-color: $dark-green;

}

.paypal-box {
  text-align: center;
}

.paypal-box .paypal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  form input {
    background-color: white;
  }
}

.pay-top {
  font-size: 16px;
}

@media screen and (min-width: 992px) {
  .spaced-left {
    padding-right: 25px;
    ul {
    padding-left: 15px;
    }
  }

  .spaced-right {
    padding-left: 25px;
    ul {
    padding-left: 15px;
    }
  }
}

/*logged in pages*/
.info-box {
  background-color: $light-green;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  border-style: solid;
  border-width: 10px;
  border-color: $dark-green;
  margin: 20px 0 0 0;
  height: 400px;
  overflow-x: scroll;
}

@media screen and (max-width: 768px){
  .info-box {
    height: auto;
    overflow: scroll;
    margin-top: 20px;
  }
}

.committee-img {
  float: right;
  width: 200px;
  height: 240px;
  margin: 0px 0px 10px 20px;
}

@media screen and (max-width: 425px){
  .committee-img {
    float: none;
    margin: 0px 0px 10px 0px;
  }
}

/*buttons*/
.btn {
  overflow: hidden;
}
.user-btn {
  background-color: $btn-green;
  color: $text-color;
  border: none;
  padding: 10px 40px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

}

.user-btn:active, .user-btn:active:hover, .user-btn:focus, .user-btn:hover {
  background-color: $bright-green;
}

.sub-btn {
  background-color: $btn-green;
  color: $text-color;
}

.member-btn {
  background-color: $btn-green;
  color: $text-color;
  border: 1px solid $dark-green;
  font-size: 16px;
}
.member-btn:hover {
  background-color: $bright-green;
  border: 1px solid $bright-green;
}

.member-btn:active, .member-btn:focus {
  border: 1px solid $dark-green;
  background-color: $dark-green;
}

.member-btn:active:hover {
  border: 1px solid $dark-green;
}

.buttons-menu {
  margin-bottom: 20px;
}

.info-box .member-btn {
  font-weight: bold;
  font-style: italic;
}

.form-btn {
  margin-top: 10px;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .btn, .member-btn {
    display: table-caption;
    margin-bottom: 10px;
    width: 250px;
  }
}

@media screen and (max-width: 425px) {
  .btn, .member-btn {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
  }
  .btn-lg {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

#danger-btn:hover{
  background-color: #ff5c33;
  border: 1px solid #ff5c33;
}

#danger-btn:active:hover{
  background-color: #ff0000;
  border: 1px solid #ff0000;
}


/*tables*/
.table-responsive {
  border: none;
}
.table-narrow { tbody { tr { td {
  padding: 2px 8px 2px 8px;
  vertical-align: middle;
  }}}}

.table select { margin:0px; }

.membership-table {
  margin-top:10px;
}

.table, .membership-table tbody > tr > td {
  text-align: left;
  font-size:14px;
  padding: 8px 4px 6px 4px;

}

#table-btn {
    margin-bottom: 0px;
  }

#mini { tbody { tr { td {
  padding: 2px 8px 2px 0px;
  border-top: 0px;
  }}}}

@media screen and (max-width: 425px) {
  .table > tbody > tr > td {
    padding: 4px 2px 0px 2px;
  }
  .table {
    font-size: 14px;
  }
}
  /*calendar*/

.meets-cal {
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 20px;
  tbody {
    font-size: 16px;
  }
  thead tr {
    background-color: $light-green;
    font-size: 20px;
    color: #4d4d4d;

  }
}

@media screen and (max-width: 768px) {
  .meets-cal {
    tbody {
      font-size: 12px;
    }
    thead tr {
    font-size: 14px;
    }
  }
}

#no-scroll .meets-cal {
  max-height: none;
  overflow-y: visible;
  }

#no-scroll {
  max-height: none;
  overflow-y: visible;
  }

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    }

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset;
    }

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.radio-inline, .checkbox-inline {
  background-color: white;
  border-radius: 4px;
  padding-top: 5px;
}

.membersip .form-control {
  width: 50%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#my-checkbox {
    transform: scale(1.5, 1.5);
    width: auto;
    margin: 0px 0px 10px 2px;
  }

.edit_member, .new_member {
  margin-left: -15px;
  margin-right: -15px;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
    outline: none;
}

/*buttons*/

.btn-primary {
  margin-bottom: 10px;
}

.btn:focus, .btn:hover, .btn:active { 
  outline: none !important;
}

.dd-btn {
  padding: 6px 12px !important;
  border: 1px solid $light-background;
  width: 100%;
  background-color: $light-background;
}

.dd-btn:hover {
  background-color: $nav-dark;
  color: $light-background;
  border: 1px solid $light-background;
  }

.dd-btn:focus {
  background-color: $text-color;
  border-color: $text-color;
  color: $light-background;
  outline: none;
}

.dd-btn:hover:focus {
  background-color: $text-color;
  border-color: $text-color;
  color: $light-background;
  outline: none;
}
/*
.dd-btn:active {
  background-color: $text-color;
  border-color: $text-color;
  color: $light-background;

}*/

/* bootstrap adjustments */

.no-pad {
  padding: 0;
}

.glyphicon-none:before {
    content: "\e113";
    color: transparent !important;
}

.full-width {
  width: 100%;
}

.glyphicon-none {
  display: none;
}

.alert {
  margin: 10px 0px 10px 0px;
}

.no-padding {
  padding: 0;
}