@import "bootstrap-sprockets";
@import "bootstrap";

#main {
	background-color: #fff;
	padding-top: 20px;
}

/*header*/

.navbar {
	background-color: #59ab47;
	font-size: 18px;
	color: #333333;
	padding: 0;
	margin: 0;
	a {
		color: #333333;
	}
}

#header {
	background-image: url(lmc-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
  min-height: 40%;
  position: absolute;
  min-width: 100%;
  left: 0;
  top: 0;
  z-index: -1;

}

#logo {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3em;
	color:inherit;
		a {
		white-space: nowrap;
		img {
			padding: 10px;

		}
	}
}


/* footer */

footer {
	font-size: 85%;
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid #333333;
  background-color: #333333;
  color: #eeeeee;
  ul {
  	list-style-type: none;
  	background-color: #333333;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 0;
  	vertical-align: center;
  	padding: 0;
  	li {
  		padding-bottom: 5px;
  	}
	}
}

/* bootstrap adjustments 

.container {
	padding-top: 15px;
}*/