<div class="container" >
	<%= link_to (image_tag('LMC_logo.gif'))+"Leeds Mountaineering Club", root_path, id: "logo" %>
<div id="header">
	 
</div>
</div>

<header class="navbar navbar-static-top">	
	<div class="container">
		<nav>
			<ul class="nav navbar-nav navbar-left">
	 			<li><%= link_to "Home", root_path %></li>
		 		<li><%= link_to "Help", help_path %></li>
			</ul>
		</nav>
	</div>
</header>