<div class="panel panel-danger">
	<div class="panel-heading">
		<h3>You haven't added an emergency contact</h3>
	</div>
	<div class="panel-body">
		<h4>Please Add an Emergency Contact</h4>
		<p>We need and emergency contact for you just in case something happens on a meet or when you're out with another club member. We also might need to supply it to an instuctor or training course should you sign up for one provided through the club.</p>
		<%= link_to "Add / Edit Emergency Contact", emergency_contact_member_path, class: "btn btn-primary" %>
	</div>
</div>