<div class="panel panel-success">
	<div class="panel-heading">
		<h2>Welcome to the Leeds Mountaineering Club!</h2>
	</div>
	<div class="panel-body">
		<h4>Thanks for joining the club. There's just a few things left to do...</h4>
		<br>
		<h4>Add your emergency contact information</h4>
		<p>We need this just in case something happens on a meet or when you're out with another club member. We also might need to supply it to an instuctor or training course should you sign up for one provided through the club.</p>
		<%= link_to "Add / Edit Emergency Contact", emergency_contact_member_path, class: "btn member-btn" %>
		<h4>Pay the membership fee</h4>
		<p>To pay the membership fee you can pay by Paypal or by bank transfer. Alternatively you can send a cheque to the treasurer or other committee member either in person or by post. You are welcome to attend a few day or evening meets before paying the membership fee if you wish.</p>
		<h4>Sign up to use the <a href="http://leedsmc.org/bulletinboard/" target="_blank">Bulletin Boards</a></h4>
		<p>This is where all the meets and other club activities are organised and discussed. At the moment you need a different login to the one you created on your application form - create this when you register.</p>
		<h4>I'm not a new member - why can I see this message?</h4>
		<p>If you can see this message then it means we haven't marked your membership fee as paid since you joined. If it's been a while since you paid then it's probably best to contact us to check we've received it.</p>
	</div>
</div>