<% provide(:title, 'Application Form') %>
<% provide(:path, application_path) %>
<% provide(:button_text, 'Submit Application') %>

<div class="row row-btm top-border">
	<div class="container">
		<h1>Application Form</h1>
		<%= render 'form' %>
	</div>
</div>