<% provide(:title, 'Application Form') %>
<% provide(:path, application_path) %>
<% provide(:button_text, 'Submit Application') %>
<div class="main-box">
	<h1>Application Form</h1>
	<%= render 'form' %>
</div>